.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    background-image: url('C:\\Users\\zakou\\projectslearn\\loginreact\\logger\\src\\background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .auth-form {
    background-color: black;
    padding: 2rem;
    border-radius: 8px;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    color: #1877f2;
    margin-bottom: 1.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #dddfe2;
    border-radius: 4px;
  }
  
  button {
    background-color: #1877f2;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #166fe5;
  }
  
  p {
    text-align: center;
    margin-top: 1rem;
  }
  
  .toggle-btn {
    background-color: transparent;
    color: #1877f2;
    border: none;
    padding: 0;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  
  .toggle-btn:hover {
    text-decoration: underline;
  }